# Editor specific files
**/.vscode
**/.idea
.editorconfig

# Git
**/.gitignore
**/.git
**/.github
**/.devcontainer

# Project files not required for build
.envrc
docker-compose.yml
LICENSE
*.md
shell.nix
**/docs
/scripts/init.sh
/scripts/docker_run.sh
*.key
*Spec.json

# Local build artifacts
**/target
node-key

